{% extends 'base.html' %}

{% block content %}
<div class="about-container">
  <h1>About</h1>

  <img src="{{ MEDIA_URL }}knockout-embroidery-logo.png" alt="Company Logo" class="rotating-image">

  <p>
    At KnockOut Embroidery, we’re committed to delivering the best experience for our customers; 
    <br>
    - The best prices.
    <br>
    - The best service.
    <br>
    - The best selection.
  </p>

  <p>
    We are a family run business focusing on quality embroidery for your business or bespoke garments.
  </p>

  <p>
    Knockout Embroidery was set up during the COVID pandemic and has gone from strength to strength, 
    we pride ourselves on our hard work and honesty. Building our reputation going that extra mile for the customer. 
  </p>

  <h2>Contact Us</h2>
  <form method="post" class="contact-form">
    {% csrf_token %}
    <div class="form-field">
        {{ form.name }}
    </div>
    <div class="form-field">
        {{ form.email }}
    </div>
    <div class="form-field">
        {{ form.subject }}
    </div>
    <div class="form-field">
        {{ form.message }}
    </div>
    <button type="submit" class="btn">Send Message</button>
</form>

  <p>Alternatively, you can reach us on the following numbers/email below</p>
  <p>07572 433822</p>
  <p>07914873811</p>
  <p>knockoutembroidery@gmail.com</p>
</div>
{% endblock %}
