{% extends 'base.html' %}

{% block content %}

<div class="hero">
   <h1>Leading supplier of embroidered clothing - no minimum orders!</h1>
</div>

<div class="about">

   <p>At KnockOut Embroidery, we’re committed to delivering the best experience for our customers - the best prices, service, and selection.</p>

   <p>We aim for excellence as a leading supplier of customized workwear, sportswear, schoolwear and more. With no minimum orders, we help businesses bring their vision to life!</p>
    
   <p>We believe in honesty, trust and hard work....you will not be disappointed!!</p>

   <a href="{% url 'products' %}" class="btn btn-main">Browse Products</a>

</div>

{% endblock %}