:root {
    --background: #3C343D;
    --primary: navy;
    --secondary: #1D1D1D;
    --primary-color: white;
    --secondary-color: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    color: var(--secondary-color);
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.background {
    display: grid;
    place-items: center;
    width: 100%;
}

/*---logo---*/

.logo {
    height: 200px;
    width: 200px;
  }

  /*---button---*/

  .btn {
    background-color: var(--secondary-color);
    color: white; 
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    margin: 5px; 
  }

  .search-btn {
    background-color: var(--secondary-color);
    color: white; 
    border-radius: 5px;
    border: none;
  }
  
  .btn:hover {
    background-color: white; 
    color: black;
    border: 2px solid black;
  }

  /*---home---*/

  .input-group {
    width: calc(100% - 10px);
  }

  .hero {
    text-align: center;  
    margin: 30px;
}

.about {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px; 
    padding: 20px; 
}

.about p {
    text-align: center;
    margin-bottom: 20px; 
}

.btn-main {
    display: inline-block;
    margin: 0 auto;  
    margin-top: 20px;
    text-align: center;
}

.title {
  margin-bottom: 30px;
}

.button-container {
  text-align: center;
}

/*---about-container---*/

.about-container {
  text-align: center; 
  max-width: 800px;
  margin: auto; 
  padding: 20px;
}

.contact-form {
  margin-bottom: 20px;
}

.contact-form .form-control .form-group {
  margin-bottom: 20px; 
}

.contact-form .btn {
  margin-top: 20px;
}

.custom-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

/*---rotating-image---*/

.rotating-image {
  animation: rotation 60s infinite linear;
  margin: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*---products---*/

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-container {
  padding: 10px;
}

.product-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img-top:hover {
  border: 3px solid black; 
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: border 0.3s ease-in-out;
}

.product-text {
  text-align: center;
}

.card-img-top {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card-body p {
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold;
}

.card-footer .lead {
  font-size: 1.2em; 
  padding: 5px;
  font-weight: bold;
}

/*---profile---*/

.row {
  padding: 10px;
  margin: 10px;
}

.profile-section .section-heading {
  text-align: center;
  font-weight: bold;
}

.profile-section {
  padding: 20px; 
  border: 1px solid black; 
}

input[name="default_phone_number"],
select[name="default_country"],
input[name="default_postcode"],
input[name="default_town_or_city"],
input[name="default_street_address1"],
input[name="default_street_address2"],
input[name="default_county"] {
    width: 400px;
}

.form-limited-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-text {
  text-align: center;
}

/*---login---*/

.login-container {
  text-align: center;
  max-width: 400px; 
  margin: auto;
  padding: 20px;
}

.login-form {
  display: inline-block;
  width: 100%;
}

.login-form p {
  margin-top: 20px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
}

.btn-black {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
}

.btn-black:hover {
  background-color: black;
  color: white;
}

/*---register---*/

.register-container {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.register-form {
  display: inline-block;
  width: 100%;
}

.register-form p {
  margin-top: 20px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="tel"] {
  width: 100%;
  margin-bottom: 10px;
}

.form .text-right {
  margin-top: 20px;
}

/*---reviews---*/

.review-container {
  width: 80%;
}

.reviews-title {
  text-align: center;
  margin: 20px;
}

.review-title {
  text-align: center;
  margin-bottom: 10px;
}

.review-header div{
  display: flex;
  align-items: center;
  width:100%;
}

.user-and-rating {
  margin-bottom: 10px;
}

.review-user {
  margin-bottom: 5px;
}

.review-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: left;
  border-radius: 5px;
}

.review-delete-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.review-delete-btn:hover {
  background-color: black;
}

.button-container {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-text {
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-comment {
  margin-bottom: 10px;
}

.review-footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 10px; 
}

.review-date {
  align-self: flex-end; 
  margin-left: auto;
}

.review-container {
  overflow-wrap: break-word;
}

.review-title, .review-comment {
  word-break: break-word;
}

/*---add-review---*/

.review-form-container {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px; 
  padding: 20px;
}

.review-form-container h2 {
  margin-bottom: 20px;
}

.review-form {
  margin-bottom: 20px;
}

.review-form p {
  text-align: left;
  margin: 10px auto; 
}

.btn-main {
  
  display: inline-block; 
  margin: 10px 0; 
}

.btn-secondary {
  background-color: black; 
  color: white;
}

.review-form-container button,
.review-form-container .btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*---star---*/

.star-rating {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.star-rating input[type="radio"] {
  display: none; 
}

.star-rating label {
  font-size: 2em;
  color: #ddd; 
  cursor: pointer;
  margin-right: 10px;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #f5eb3b;
  -webkit-text-stroke: 3px black;
}

.review-form-container h1 {
  margin-bottom: 20px; 
}

.review-form-container form > * {
  margin-bottom: 15px; 
}

.star-rating .filled-star, .star-rating .empty-star {
  font-size: 24px; 
  color: gold; 
  -webkit-text-stroke: 3px black; 
}

.star-rating .empty-star {
  color: lightgray;
  -webkit-text-stroke: 1px black; 
}


/*---edit-review---*/

.review-edit-form {
  text-align: center;
  margin-top: 20px;
}

.review-edit-form input[type="text"],
.review-edit-form textarea {
  width: 90%; 
  margin: 10px auto;
  display: block;
}

.review-edit-form button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.review-edit-form button:hover {
  background-color: white;
  color: black; 
  border: 1px black;
}

.star-rating-edit {
  direction: ltr;
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}

.star-rating-edit input[type="radio"] {
  display: none;
}

.star-rating-edit label {
  color: #ddd;
  cursor: pointer;
}

.star-rating-edit input[type="radio"]:checked ~ label {
  color: gold;
  -webkit-text-stroke: 1px black; 
}


/*---carousel---*/

#image-carousel {
  display: none;
}

.carousel-item {
  text-align: center; 
}

.carousel-item img {
  max-width: 800px; 
  height: 800px;
  margin: auto; 
}

/*---Inspired by atheros---*/

.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  position: relative;
  left: 0px;
  width: 200px;
  border-radius: 16px;
  height: 540px;
  overflow: hidden;
  background-color: var(--background);
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  flex: 0.25;
}

.card:hover {
  visibility: visible;
  opacity: 1;
}

.card img {
  height: 560px;
}

.card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

/*---end of inspired by atheros---*/


/*---toast-messages---*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*---navbar---*/

.navbar-custom {
  background-color: var(--secondary-color);
}

.navbar-custom .navbar-nav .nav-link {
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar .nav-link i,
.navbar .nav-item form .btn-link {
    color: white;
}

.navbar .nav-link:hover,
.navbar .nav-item form .btn-link:hover, 
.navbar-custom .navbar-nav .nav-link:focus {
    background-color: white;
    border-radius: 5px; 
}

.navbar .nav-link:hover i,
.navbar .nav-item form .btn-link:hover i {
    color: black;
}

.navbar .nav-item {
  float: none;
}

.navbar .nav-link {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-right: 20px;
    color: inherit;
    transition: color 0.3s;
}

.navbar .dropdown-menu .dropdown-item {
    font-size: 1.3rem; 
    color: var(--secondary-color)
}

.navbar-brand {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
}
  
  .navbar-brand img {
    margin-right: 0.5rem;
  }
  
  .navbar-brand h1 {  
    margin-bottom: 0;
    font-size: 2.5rem;
  }

  .navbar .nav-link .basket-link.basket-active,
  .navbar .nav-link .basket-link.basket-active i {
      color: gold;
  }

.navbar-title {
  color:white;
}
  
/*---images---*/

.product-image {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

/*---basket---*/

.basket-btns {
  margin: 20px;
}

.update-link, .remove-item {
  margin-top: 10px;
}

.update-form {
  margin-bottom: 20px;
}

.order-number {
  word-wrap: break-word;
}

.qty-input {
  max-width: 60px;
}

/*---socials-footer---*/
/*---Atheros code inspired by atheros---*/

.footer-background {
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    list-style: none;
    padding: 20px;
}

.social-media-buttons li {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    background-color: var(--primary);
    place-items: center;
    transition: all 0.3s;
    border: 1px solid var(--primary);
}

.social-media-buttons li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-colour);
}

.social-media-buttons li:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.social-media-buttons li a svg {
    height: 48px;
    width: 48px;
    stroke: var(--primary-color);
    stroke-width: 1.75;
    transition: 0.8s;
}

.social-media-buttons li:hover svg {
    stroke: var(--primary);
    transform: rotateY(360deg);
    stroke-width: 1.75;
}

/*---end of Atheros code inspired by atheros---*/

/*--footer--*/

 footer {
   padding-top: 1.5em; 
   text-align: center;
   width: 100%;
   bottom: 0;
 }

 footer > a {
   padding: 0 15px;
   font-size: 2em; 
 }

 footer > p {
   font-size: 1.2em; 
   margin-top: 1em; 
 }

 @media screen and (max-width: 1492px) {
  .button-container {
      display: flex;
      flex-direction: column;
      gap: 10px; 
  }
}

 @media (max-width: 1264px) {
  .navbar .nav-link {
      font-size: 1.2rem;
  }

  .navbar .nav-link i {
      font-size: 1.2rem;
  }
  
  .navbar-brand h1 {  
    margin-bottom: 0;
    font-size: 2rem;
  }

}

@media (max-width: 1090px) {
  .navbar .nav-link {
      font-size: 1rem;
  }

  .navbar .nav-link i {
      font-size: 1rem;
  }
  
  .navbar-brand h1 {  
    margin-bottom: 0;
    font-size: 1.5rem;
  }

}

@media (max-width: 991px) {

  .navbar-collapsed-icons {
    text-align: left;
  }
 
.navbar {
    position: relative;
}

.navbar-toggler {
  position: absolute;
  right: 10px; 
  bottom: 10px;
}

.navbar .container-fluid {
    text-align: center;
}

.navbar-brand {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.navbar-logo {
    width: 50px; 
    margin: 0 auto; 
    display: block;
}

.navbar-title {
    display: block; 
    margin-top: 10px;
}

.product-container {
  padding: 10px; 
}
.product-card {
  margin: 10px;
}

.profile-section {
  margin-bottom: 15px;
}

}

 @media (max-width: 767px) {
  .gallery {
    display: none;
  }

  #image-carousel {
    display: block;
  }
}

@media (max-width: 500px) {
  .navbar-title {
      display: none;
  }
  
  .carousel-item img {
    max-width: 480px; 
    height: 500px;
  }

  .product-container {
    padding: 0px;
}
.product-card {
    margin: 0px;
}

input[name="default_phone_number"],
select[name="default_country"],
input[name="default_postcode"],
input[name="default_town_or_city"],
input[name="default_street_address1"],
input[name="default_street_address2"],
input[name="default_county"] {
    width: 250px;
}
}

