{% extends 'base.html' %}

{% block content %}
    <h1 class="reviews-title">Reviews</h1>
    {% if not user.is_authenticated %}
    <div class ="review-text">
    <p>You must be <a href="{% url 'login' %}">logged in</a> to add a review. Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
</div>
{% else %}
    <div class="button-container">
    <a href="{% url 'add_review' %}" class="add-review-btn">Add a Review</a>
</div>
{% endif %}
    <div>
        {% for review in reviews %}
            <div class="review-container">
                <h3>{{ review.title }}</h3>
                <p><strong>User:</strong> {{ review.user.username }}</p>
                <div class="star-rating">
                    {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %}
                            <span class="filled-star">&#9733;</span>
                        {% else %}
                            <span class="empty-star">&#9733;</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <p><strong>Comment:</strong> {{ review.comment }}</p>
                {% if request.user == review.user or request.user.is_superuser %}
                    <a href="{% url 'delete_review' review.id %}" class="review-delete-btn">Delete</a>
                {% endif %}
                <p><small>Posted {{ review.timesince_posted }} ago</small></p>
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
{% endblock %}